<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>s1servletbasics</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>helloworldservlet</servlet-name>
  	<servlet-class>com.servlets.example.helloworldservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>helloworldservlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>additionservlet</servlet-name>
  	<servlet-class>com.servlets.example.additionservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>additionservlet</servlet-name>
  	<url-pattern>/additionservlet</url-pattern>
  </servlet-mapping>
</web-app>